<form>
  <mat-card>
      <mat-card-header>
          <mat-card-title class="textAlign">Iniciar Sesión</mat-card-title>
          <mat-card-subtitle class="textAlign">Inicie sesión para disfrutar de nuestros servicios</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="container">
          <mat-form-field>
              <mat-label>Correo</mat-label>
              <input type="text" matInput placeholder="Ingrese su correo" required>
              <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput placeholder="Ingrese su contraseña" required>
              <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
          <button mat-button>Iniciar Sesión</button>
      </mat-card-content>
  </mat-card>
</form>
